<form (ngSubmit)="onSubmit()" #usernameForm="ngForm">
  <div class="form-group">
    <input [(ngModel)]="username"
            class="m-4 form-control text-center bg-base border-2 text-xl border-solid"
            type="text"
            placeholder="skriv dit brugernavn her"
            required
            name="username">
  </div>
  <br><br>
  <div class="text-center">
    <a routerLink="/tutorial">
      <button type="submit" (click)="onSubmit()" class="bg-indigo-800 border-2 border-solid rounded-lg p-4">START PLANETJAGTEN</button>
    </a>
  </div>
</form>




