<div *ngIf="nameTaken" class="text-red-900 text-l text-center uppercase">
  Navnet er optaget. Skriv et nyt.
</div>

<form #usernameForm="ngForm">
  <div class="text-center form-group">
    <input [(ngModel)]="username"
            class="m-4 form-control text-center bg-base border-2 text-xl border-solid"
            type="text"
            placeholder="skriv dit brugernavn her"
            required
            name="username">
  </div>
  <br><br>
  <div class="text-center">
    <button type="submit" (click)="onSubmit()" class="text-white bg-gradient-to-r from-brorfelde-dark to-blue-900 rounded-lg p-4">START PLANETJAGTEN</button>
  </div>
</form>




