<div *ngIf="nameTaken" class="text-pink-300 text-l text-center uppercase">
  Navnet er optaget. Skriv et nyt.
</div>

<form (ngSubmit)="onSubmit()" #usernameForm="ngForm">
  <div class="text-center form-group">
    <input [(ngModel)]="username"
            class="m-4 form-control text-yellow-300 text-center bg-base border-2 text-xl border-solid"
            type="text"
            placeholder="type username here"
            required
            name="username">
  </div>
  <br><br>
  <div class="text-center">
    <button type="submit" (click)="onSubmit()" class="italic text-black bg-gradient-to-r from-yellow-800 to-yellow-200 rounded-lg p-4">START POTTERQUEST</button>
  </div>
</form>




