<div class="text-white max-h-screen flex flex-col">

  <div class="mt-2">

    <div class="grid grid-cols-5 text-center w-screen px-4">
      <div *ngIf="position !== 1">
        <button (click)="clickLeft()">
          <img class="max-h-8" src="../../assets/images/arrow-left.png" alt="left arrow">
        </button>
      </div>
      <div class="col-start-2 col-end-5 uppercase text-xl">
        sådan gør du
      </div>
      <div>
        <ng-container *ngIf="position !== 4">
          <button (click)="clickRight()">
            <img class="max-h-8 transform rotate-180 float-right" src="../../assets/images/arrow-left.png" alt="left arrow">
          </button>
        </ng-container>
        <ng-container *ngIf="position === 4">
          <a routerLink="/inventory">
            <button>
              <img class="max-h-8 transform rotate-180 float-right" src="../../assets/images/arrow-left.png" alt="left arrow">
            </button>
          </a>
        </ng-container>
      </div>
    </div>

  </div>

  <div>

    <div>
      <div *ngIf="position === 1" id="1" class="w-screen px-4">
        <p class="text-center text-2xl">
          1. Vælg en planet
        </p>
        <img class="mx-auto" src="../../assets/images/tutorial-1.png" alt="tutorial 1">
      </div>
      <div *ngIf="position === 2" id="2" class="w-screen px-4">
        <p class="text-center text-2xl">
          2. Klik på planeten
        </p>
        <img class="mx-auto" src="../../assets/images/tutorial-2.png" alt="tutorial 2">
      </div>
      <div *ngIf="position === 3" id="3" class="w-screen px-4">
        <p class="text-center text-2xl">
          3. Find et planetsymbol
        </p>
        <img class="mx-auto" src="../../assets/images/tutorial-3.png" alt="tutorial 3">
      </div>
      <div *ngIf="position === 4" id="4" class="w-screen px-4">
        <p class="text-center text-2xl">
          4. Scan planetsymbolet
        </p>
        <img class="mx-auto" src="../../assets/images/tutorial-4.png" alt="tutorial 4">
      </div>
    </div>

  </div>

  <div>

    <a routerLink="/inventory">
      <p id="skip" class="text-center w-screen px-4 uppercase text-2xl">
        skip vejledning
      </p>
    </a>

  </div>

</div>
