<div id="inventory">
  <div class="grid grid-cols-3 gap-4 p-4">
    <div class="col-span-3 text-center p-bottom-4 text-4xl uppercase">
      <span class="text-2xl">my</span> <br>
      images
    </div>
    <div class="col-span-3 grid grid-col">
      <div class="col-start-1 col-end-2">
        <div class="grid grid-col text-xl p-left-12">
          <div>Point Total: {{ totalpoints }}</div>
          <div *ngIf="!finishTime">Tid: {{ timeToDisplay }}</div>
          <div *ngIf="finishTime" class="text-green-600">
            Time: {{ timeToDisplay }}
          </div>
          <div>Letters:</div>
        </div>
      </div>
      <div
        *ngIf="planetsVisited > 4"
        class="shadow-lg col-start-3 col-end-4 rounded bg-green-600 ml-4 mr-1 mb-2 p-2 uppercase text-center"
      >
        <a routerLink="/wordpuzzle">
          Congratulations. Click here to solve the word puzzle
        </a>
      </div>
      <div class="col-span-3 px-2 p-top-2">
        <div
          class="shadow-sm rounded-sm float-left text-center uppercase bg-tile text-black mr-1 mb-1"
          *ngFor="let art of artArray"
        >
          <ng-container *ngIf="art.visited">
            &nbsp; {{ art.letter }} &nbsp;
          </ng-container>
        </div>
      </div>
    </div>
    <div class="shadow-lg" *ngFor="let art of artArray">
      <button (click)="scroll(art.name)">
        <img
          *ngIf="!art.visited"
          src="{{ art.unVisitedImageUrl }}"
          alt="unvisited planet image"
        />
        <img
          *ngIf="art.visited"
          src="{{ art.visitedImageUrl }}"
          alt="visited planet image"
        />
        <p class="text-left text-sm p-left-12">Point: {{ art.points }}</p>
        <p class="text-left text-sm p-left-12">
          Letter:
          <span *ngIf="art.visited; else questionmark">{{
            art.letter
          }}</span>
        </p>
      </button>
    </div>
  </div>
</div>

<ng-container *ngFor="let art of artArray">
  <div
    id="{{ art.name }}"
    class="shadow-lg m-2 flex flex-col p-4 h-screen"
  >
    <p class="text-4xl text-center uppercase px-4">
      {{ art.name }}
    </p>
    <a
      class="text-center"
      href="{{ baseUrl }}{{ art.hololinkId }}?userId={{
        this.userId
      }}&planet={{ art.name }}"
    >
      <img
        *ngIf="!art.visited"
        class="mx-auto max-h-planetcard max-w-planetcard"
        src="{{ art.unVisitedImageUrl }}"
        alt="unvisited planet image"
      />
      <img
        *ngIf="art.visited"
        class="mx-auto max-h-planetcard max-w-planetcard"
        src="{{ art.visitedImageUrl }}"
        alt="visited planet image"
      />
    </a>
    <div class="py-2 px-1">
      <span class="text-xl capitalize pb-1"
        >Facts about {{ art.name }}: <br
      /></span>
      <p *ngIf="art.visited" class="">
        {{ art.facts }}
      </p>
      <p *ngIf="!art.visited">
        You haven't found {{ art.name }} yet.
      </p>
      <p class="text-lg py-2">
        Points: {{ art.points }}
        <br />
        Letter:
        <span *ngIf="art.visited; else questionmark" class="uppercase">{{
          art.letter
        }}</span>
      </p>
    </div>
  </div>
</ng-container>

<ng-template #questionmark class="text-left text-sm p-left-12">?</ng-template>

<div class="top-0 right-0 mt-4 mr-4 fixed focus:outline-none">
  <button (click)="scroll('inventory')">
    <img
      class="max-h-24"
      src="https://res.cloudinary.com/hololink-io/image/upload/v1611996872/SMK-tests/menu-black_iljbnx.png"
      alt="inventory navigation"
    />
  </button>
</div>
