<ng-container class="relative h-screen flex flex-col">
  <div class="flex flex-row">
    <div class="l-0 t-0 p-2">
      <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/c_thumb,w_200,g_face/v1611928122/SMK-tests/SMK_PrimaryLogo_Black_mltqhp.png" alt="SMK Logo">
    </div>
    <div class="uppercase text-3xl text-center pt-4">
      High Score
    </div>
    <div class="top-0 right-0 mt-2 mr-2 fixed">
      <!--<a routerLink="/inventory">
        <img class="max-h-14" src="https://res.cloudinary.com/hololink-io/image/upload/v1611934003/SMK-tests/menu_xi3azy.png" alt="inventory navigation">
      </a>-->
    </div>
  </div>

  <div class="w-full text-left px-8 mb-2">
    <ul class="list-none">
      <li *ngFor="let user of highScoreArray">
        <div class="grid grid-cols-5">
          <div class="col-start-1 col-end-3 mr-2 truncate">
              {{ user.username }}
          </div>
          <div class="col-start-3 col-end-4 mr-2">
            {{ user.totalPoints }}p
          </div>
          <div class="col-start-4 col-end-5 mr-2">
            {{ user.timeTaken }}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <p class="text-center text-xs">
      Click the statue below for a bonus experience
      <br>
      <br>
    </p>
  </div>

  <div *ngIf="!isIphone">
    <a href="intent://arvr.google.com/scene-viewer/1.0?file=https://res.cloudinary.com/hololink-io/image/upload/v1611319863/brorfelde%20-%20PlanetHunt/3dmodels/Moon_1_3474_b1jbts.glb#Intent;scheme=https;package=com.google.android.googlequicksearchbox;action=android.intent.action.VIEW;S.browser_fallback_url=https://developers.google.com/ar;end;">
      <img class="mx-auto max-h-bonusmoon" src="https://res.cloudinary.com/hololink-io/image/upload/v1611992941/SMK-tests/jason_q6r8wg.jpg" alt="Jason with fleece">
    </a>
    <!--Keep the commented code below for additional testing of Scene Viewer alternatives in the future-->
    <!--<model-viewer src="./../assets/3dmodels/Moon_1_3474.glb"
                  ar
                  shadow-intensity="2.2"
                  shadow-softness="0"
                  auto-rotate
                  background-color="#c33a5e"
                  poster="../../assets/images/visited-images/månen.png"
                  mode="ar_preferred"
                  alt="a 3D model of the moon">
    </model-viewer>-->
  </div>
  <div *ngIf="isIphone">
    <a rel="ar" href="https://drive.google.com/file/d/1clC1Bs4hYdM6B9RlBNiGfgYYBkg8_QeL/view?usp=sharing">
        <img class="mx-auto max-h-planetcard" src="https://res.cloudinary.com/hololink-io/image/upload/v1611992941/SMK-tests/jason_q6r8wg.jpg" alt="Jason with fleece">
    </a>
  </div>

</ng-container>

<script type="module" src="https://unpkg.com/@google/model-viewer@0.3.1/dist/model-viewer.js">
</script>
<script nomodule src="https://unpkg.com/@google/model-viewer@0.3.1/dist/model-viewer-legacy.js">
</script>
