<ng-container class="h-screen flex flex-col">
  <div class="l-0 t-0 p-2">
    <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/c_scale,q_auto,w_464/v1616758650/SMK-tests/harry-potter-hogwarts-gryffindor-slytherin-house-clip-art-crest-72b74940620772b71b1b59f3fb4758e5_zrfnkg.png" alt="Hogwarts Crest">
  </div>
  <div class="text-center text-yellow-300 pt-2 text-2xl">
    <h3 class="uppercase">welcome to</h3>
  </div>
  <div class="max-w-full text-center text-yellow-300 p-4 text-4xl">
    <h1 class="uppercase">potterquest</h1>
  </div>
  <div class="w-full">
    <img class="w-full" src="https://res.cloudinary.com/hololink-io/image/upload/v1616753333/SMK-tests/hogwarts-e1477515300694_mai5wv.jpg" alt="Hogwarts">
  </div>
  <div class="p-4 w-full">
    <a routerLink="/signup">
      <img class="max-h-72 mx-auto" src="https://res.cloudinary.com/hololink-io/image/upload/v1616769363/SMK-tests/alohomora_e0bg0h.png" alt="alohomora wand">
    </a>
  </div>
  <div class="text-right text-yellow-800 pt-2 pr-2 text-l">
    powered by Hololink
  </div>
</ng-container>

