<ng-container class="h-screen flex flex-col">
  <div class="l-0 t-0 p-2">
    <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/c_thumb,w_200,g_face/v1611928122/SMK-tests/SMK_PrimaryLogo_Black_mltqhp.png" alt="SMK Logo">
  </div>
  <div class="text-center pt-2 text-2xl">
    <h3 class="uppercase">welcome to the</h3>
  </div>
  <div class="max-w-full text-center pb-4 px-4 text-4xl">
    <h1 class="uppercase">golden age</h1>
  </div>
  <div class="w-full">
    <img class="w-full" src="https://res.cloudinary.com/hololink-io/image/upload/f_auto,q_auto/v1611932426/SMK-tests/wholePaintingForWeb_kyi7hq.jpg" alt="Painting of Painters">
  </div>
  <div class="p-4 w-full">
    <a routerLink="/signup">
      <button type="submit"
      class="p-4 mt-4 mx-4 uppercase text-xl text-white text-center rounded bg-gradient-to-r from-brorfelde-dark to-black">
        Enter the Painting
      </button>
    </a>
  </div>
  <div class="text-right text-white pt-2 pr-2 text-l">
    powered by Hololink
  </div>
</ng-container>

