<ng-container class="h-screen flex flex-col">
  <div class="flex flex-row">
    <div class="l-0 t-0 p-2">
      <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/v1611315812/brorfelde%20-%20PlanetHunt/logo-cirkel_t2lotg.png" alt="Brorfelde Logo">
    </div>
    <div class="uppercase text-white text-2xl text-center pt-4">
      vælg brugernavn
    </div>

  </div>
  <div class="text-white text-xl m-12 text-center">
    For at kunne jagte planeter, skal du vælge et brugernavn.
    Det behøver ikke at være dit eget, så alt fra Han Solo til Niels Bohr eller Supernova er godt.
  </div>

  <div class="mx-auto">
    <planethunt-username-form></planethunt-username-form>
  </div>

</ng-container>


