<ng-container class="h-screen flex flex-col">
  <div class="flex flex-row">
    <div class="l-0 t-0 p-2">
      <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/c_scale,q_auto,w_464/v1616758650/SMK-tests/harry-potter-hogwarts-gryffindor-slytherin-house-clip-art-crest-72b74940620772b71b1b59f3fb4758e5_zrfnkg.png" alt="Hogwarts Crest">
    </div>
    <div class="italic uppercase text-yellow-300 text-2xl text-center pt-4">
      choose username
    </div>

  </div>
  <div class="italic text-yellow-300 text-xl m-12 text-center">
    To proceed with the Potterquest, you must choose a username.
  </div>

  <div class="mx-auto">
    <planethunt-username-form></planethunt-username-form>
  </div>

</ng-container>


