<ng-container class="h-screen flex flex-col">
  <div class="flex flex-row">
    <div class="l-0 t-0 p-2">
      <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/f_auto,q_auto/v1616925278/SMK-tests/tumba-logo_dj14uj.png" alt="Tumba Museum Logo">
    </div>
    <div class="uppercase text-white text-2xl text-center pt-4">
      användarnamn
    </div>

  </div>
  <div class="text-white text-xl m-12 text-center">
    För att kunna leta reda på nyckeln måste du skriva ett namn. Ditt eget eller ett du hittar på.
  </div>

  <div class="mx-auto">
    <planethunt-username-form></planethunt-username-form>
  </div>

</ng-container>


