<ng-container class="relative h-screen flex flex-col">
  <div class="flex flex-row">
    <div class="l-0 t-0 p-2">
      <img class="max-h-16" src="../../assets/images/logo-cirkel.png" alt="Brorfelde Logo">
    </div>
    <div class="uppercase text-white text-3xl text-center pt-4">
      ordgåden
    </div>
    <div class="top-0 right-0 mt-2 mr-2 fixed">
      <a routerLink="/inventory">
        <img class="max-h-14" src="../../assets/images/inventory-icon-bg.png" alt="inventory navigation">
      </a>
    </div>
  </div>
  <div class="text-white text-xl text-center mx-2 mt-2 mb-2">
    Vis denne skærm i billetkassen for at deltage i konkurrencen om en astronomisk præmie.
  </div>
  <div class="w-full text-center uppercase absolute text-white text-2xl mb-2">
    {{ correctAnswer }}
  </div>
  <div class="w-full">
    <img class="mx-auto max-h-planetcard mt-8" src="../../assets/images/goldmoon.png" alt="golden moon">
  </div>

  <div class="absolute text-center bottom-4">
    <a routerLink="/highscore">
      <button type="submit"
      class="p-4 mt-4 mx-4 uppercase text-xl text-white text-center rounded bg-gradient-to-r from-brorfelde-dark to-blue-900">
        se high score og få en bonusoplevelse
      </button>
    </a>
  </div>
</ng-container>
