<ng-container class="relative h-screen flex flex-col">
  <div class="flex flex-row">
    <div class="l-0 t-0 p-2">
      <img class="max-h-16" src="https://res.cloudinary.com/hololink-io/image/upload/c_scale,q_auto,w_464/v1616758650/SMK-tests/harry-potter-hogwarts-gryffindor-slytherin-house-clip-art-crest-72b74940620772b71b1b59f3fb4758e5_zrfnkg.png" alt="Hogwarts Crest">
    </div>
    <div class="uppercase text-yellow-300 italic text-3xl text-center pt-4">
      wordpuzzle
    </div>
    <div class="top-0 right-0 mt-2 mr-2 fixed">
      <a routerLink="/inventory">
        <img class="max-h-14" src="https://res.cloudinary.com/hololink-io/image/upload/v1611934003/SMK-tests/menu_xi3azy.png" alt="inventory navigation">
      </a>
    </div>
  </div>
  <div class="text-yellow-300 italic text-xl text-center mx-2 mt-16 mb-2">
    Well Done!
  </div>
  <div class="w-full">
    <img class="mt-8" src="https://res.cloudinary.com/hololink-io/image/upload/c_scale,q_auto,w_474/v1616839215/SMK-tests/HappyHarry_rnuk92.png" alt="Happy Harry">
  </div>

  <div class="text-center">
    <a routerLink="/highscore">
      <button type="submit"
      class="p-4 mx-4 uppercase text-xl txt-black text-center rounded bg-gradient-to-r from-yellow-800 to-yellow-200">
        Click for High Score
      </button>
    </a>
  </div>
</ng-container>
